body {
  margin-top: 0;
}

.flex-ul-container-two {
  color: #aaa;
}

.flex-ul-container ul {
  display: flex;
  padding-left: 5px;
  justify-content: space-between;
  padding-right: 10px;
  color: white;
  height: 20px;
  color: #aaa;
}

nav > :nth-child(1) {
  display: flex;
  padding-left: 5px;
  justify-content: space-between;
  padding-right: 10px;
  color: white;
  background-color: black;
}

nav > :nth-child(2) {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

nav > :nth-child(3) {
  background-color: yellow;
  height: 25px;
}

nav > :nth-child(3) a {
  text-decoration: none;
  color: black;
}

li > a {
  margin-left: 20px;
}

.flex-ul-container ul, .flex-ul-container-two ul {
  list-style: none;
  display: flex;
  padding-left: 0;
}

.flex-container {
  display: flex;
  border-left: 1px solid black;
  padding-left: 10px;
}

.flex-container a {
  margin-block-start: 1em;
  margin-left: 10px;
  color: red;
}

.flex-container i {
  margin-block-start: 1em;
  margin-right: 10px;
}

.flex-container button {
  margin-left: 20px;
  background-color: #0cc;
  font-weight: 900;
  color: white;
  cursor: pointer;
  height: 80%;
  border-radius: 5px;
  border: none;
}

.flex-container button:hover {
  background-color: #90C;
}

.flex-ul-container-two a:hover {
  color: black;
}

.flex-ul-container > ul > li > a:hover {
  color: white;
}

main > :nth-child(1) > :nth-child(1) {
  background: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/06/Untitled-design-79-796x417.png") no-repeat;
  background-size: auto;
  background-position: center;
  z-index: 2;
  width: 70%;
  height: 35em;
  margin: 10px 10px;
  box-sizing: border-box;
}

main > :nth-child(1) > :nth-child(2) {
  width: 30%;
  height: 35em;
  margin: 10px 10px;
  box-sizing: border-box;
}

.tnw-img {
  background-image: url("./TNW.jpeg");
  width: 50em;
  height: 10rem;
  opacity: 1;
  z-index: 2;
  background-repeat: no-repeat;
}

.tnw-red {
  width: 100%;
  height: 70%;
  background: linear-gradient(#ff6f6a, #f34646);
  opacity: 0.75;
}

.second-background-img {
  background-image: url("./gradient-img.jpg");
  height: 49%;
  opacity: 1;
  z-index: 2;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

section {
  display: flex;
}

.third-background-img {
  background-image: url("./third-background-img.jpg");
  height: 49%;
  opacity: 1;
  z-index: 2;
  background-position: center;
  margin-top: 2%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.tnw-down {
  display: flex;
  opacity: 1;
}

.tnw-down p {
  color: white;
}

.tnw-insights a {
  font-size: 28px;
  color: white;
  text-decoration: none;
}

.tnw-explanations a {
  font-size: 42px;
  font-weight: 900;
  color: white;
  text-decoration: none;
}

.tnw-container {
  background-image: linear-gradient(to bottom right, red, black);
  margin-bottom: 0;
  height: 30%;
}

.fas {
  padding-top: 15px;
  margin-left: 10px;
  margin-right: 10px;
}

.third-background-img div {
  display: flex;
}

.second-background-img p, .third-background-img p {
  margin-block-start: 0;
}

.first-grid-container {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, 20%);
  padding-right: 20%;
  padding-left: 20%;
  box-sizing: border-box;
  justify-content: center;
}

.grid-img img {
  width: 100%;
  height: 100%;
}

main > :nth-child(2) {
  display: flex;
  flex-direction: column;
  border: 2px solid red;
}

main > :nth-child(2) > h2 {
  padding-left: 24%;
}

.second-background-img *, .third-background-img * {
  color: white;
  text-decoration: none;
}

.second-headings {
  display: flex;
  justify-content: space-between;
}

#s-image {
  height: 50px;
  width: 50px;
  position: relative;
  top: 75px;
}

.non-flex-section {
  display: inline-block;
  padding-left: 24%;
  padding-right: 15%;
}

.non-flex-section article {
  width: 50%;
}

.non-flex-section .spiff-background, .non-flex-section .venture-background {
  padding-left: 22%;
  margin-right: 25px;
}

.spiff-background {
  background-color: red;
}
.venture-background {
  background-color: pink;
}

.spiff-background h4 {
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 20px;
  padding-top: 10px;
}

.venture-background p {
  margin-top: 0;
  margin-bottom: 10px;
}

.second-flex-div i {
  margin-block-start: 1em;
  margin-right: 10px;
}

.flex-div {
  display: flex;
  flex-wrap: wrap;
}

.flex-div h3 {
  margin-right: 10px;
}

.flex-div > article {
  flex: 0 1 250px;
}

.second-flex-div {
  display: flex;
  padding-left: 4%;
}

.flex-div-h3 {
  border-right: 1px solid red;
  padding-right: 7px;
}

.small-background-img {
  width: 30%;
  background-position-y: 50px;
  margin-right: 25px;
}

.small-background-img > :nth-child(1) {
  background-image: url("./small-background-img.jpg");
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  z-index: 1;
  opacity: 0.6;
}

.small-background-img > :nth-child(1) * {
  z-index: 2;
  opacity: 1;
}

.small-background-img > :nth-child(2) {
  background-color: pink;
  padding-left: 10px;
}

.small-background-img p {
  margin-top: 25px;
}

.flex-div2 {
  display: flex;
  flex-wrap: wrap;
}

.non-flex-section2 {
  display: inline-block;
  padding-left: 24%;
  padding-right: 15%;
}

.small-background-img ul {
  padding-left: 14px;
}

.small-background-img ul li {
  border-bottom: 1px solid gray;
}
