body {
  margin-top: 0;
}

.flex-ul-container ul {
  display: flex;
  padding-left: 5px;
  justify-content: space-between;
  padding-right: 10px;
  color: white;
  height: 20px;
}

nav > :nth-child(1) {
  display: flex;
  padding-left: 5px;
  justify-content: space-between;
  padding-right: 10px;
  color: white;
  background-color: black;
}

nav > :nth-child(2) {
  display: flex;
  justify-content: space-between;
}

li > a {
  margin-left: 20px;
}

ul {
  list-style: none;
  display: flex;
  padding-left: 0;
}

.flex-container {
  display: flex;
}

.flex-container a {
  margin-block-start: 1em;
  margin-left: 10px;
}

.flex-container i {
  margin-block-start: 1em;
  margin-right: 10px;
}

.flex-container button {
  margin-left: 20px;
  background-color: #0cc;
  font-weight: 900;
  color: white;
  margin-top: 1em;
  cursor: pointer;
}

.flex-container button:hover {
  background-color: #90C;
}