body {
  margin-top: 0;
}

.flex-ul-container-two {
  color: #aaa;
}

.flex-ul-container ul {
  display: flex;
  padding-left: 5px;
  justify-content: space-between;
  padding-right: 10px;
  color: white;
  height: 20px;
  color: #aaa;
}

nav > :nth-child(1) {
  display: flex;
  padding-left: 5px;
  justify-content: space-between;
  padding-right: 10px;
  color: white;
  background-color: black;
}

nav > :nth-child(2) {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

nav > :nth-child(3) {
  background-color: yellow;
  height: 25px;
}

li > a {
  margin-left: 20px;
}

ul {
  list-style: none;
  display: flex;
  padding-left: 0;
}

.flex-container {
  display: flex;
  border-left: 1px solid black;
  padding-left: 10px;
}

.flex-container a {
  margin-block-start: 1em;
  margin-left: 10px;
  color: red;
}

.flex-container i {
  margin-block-start: 1em;
  margin-right: 10px;
}

.flex-container button {
  margin-left: 20px;
  background-color: #0cc;
  font-weight: 900;
  color: white;
  cursor: pointer;
  height: 80%;
  border-radius: 5px;
  border: none;
}

.flex-container button:hover {
  background-color: #90C;
}

.flex-ul-container-two a:hover {
  color: black;
}

.flex-ul-container > ul > li > a:hover {
  color: white;
}

section > :nth-child(1) {
  background: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/06/Untitled-design-79-796x417.png") no-repeat;
  background-size: auto;
  background-position: center;
  z-index: 2;
  width: 70%;
  height: 35em;
  margin: 10px 10px;
  box-sizing: border-box;
}

section > :nth-child(2) {
  width: 30%;
  height: 35em;
  margin: 10px 10px;
  box-sizing: border-box;
}

.tnw-img {
  background-image: url("./TNW.jpeg");
  width: 50em;
  height: 10rem;
  opacity: 1;
  z-index: 2;
  background-repeat: no-repeat;
}

.tnw-red {
  width: 100%;
  height: 70%;
  background: linear-gradient(#ff6f6a, #f34646);
  opacity: 0.75;
}

.second-background-img {
  background-image: url("./gradient-img.jpg");
  height: 49%;
  opacity: 1;
  z-index: 2;
  background-position: center;
}

section {
  display: flex;
}

.third-background-img {
  background-image: url("./third-background-img.jpg");
  height: 49%;
  opacity: 1;
  z-index: 2;
  background-position: center;
  margin-top: 2%;
}

.tnw-down {
  display: flex;
  opacity: 1;
}

.tnw-insights {
  font-size: 28px;
  color: white;
}

.tnw-explanations {
  font-size: 42px;
  font-weight: 900;
  color: white;
}

.tnw-container {
  background-image: linear-gradient(to bottom right, red, black);
  margin-bottom: 0;
  height: 30%;
}

.fas {
  padding-top: 15px;
  margin-left: 10px;
  margin-right: 10px;
}

.third-background-img div {
  display: flex;
}

.second-background-img p, .third-background-img p {
  margin-block-start: 0;
}
