body {
  margin: 0;
  padding: 5px;
  width: 100%;
  font-family: ARS Maquette, Helvetica Neue, Arial, sans-serif;
  box-sizing: border-box;
}

nav {
  position: fixed;
  z-index: 55;
  width: 100%;
  opacity: 55;
  visibility: visible;
  background-color: white;
  top: 0;
  box-sizing: border-box;
}

.first-section {
  margin-top: 150px;
  flex-wrap: wrap;
}

.flex-ul-container-two {
  color: #aaa;
  display: inline-block;
}

.flex-ul-container ul {
  display: flex;
  padding-left: 5px;
  justify-content: space-between;
  padding-right: 10px;
  height: 20px;
  color: #aaa;
}

nav > :nth-child(1) {
  display: flex;
  padding-left: 5px;
  justify-content: space-between;
  padding-right: 10px;
  color: white;
  background-color: black;
  font-size: 0.85em;
}

nav > :nth-child(2) {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  font-size: 0.92em;
}

nav > :nth-child(3) {
  background-color: yellow;
  height: 25px;
}

li > a {
  margin-left: 20px;
}

.tnw-insights a {
  font-size: 1em;
  color: white;
  text-decoration: none;
}

.tnw-explanations a {
  font-size: 1.5em;
  font-weight: 900;
  color: white;
  text-decoration: none;
}

.footer-end img {
  width: 50px;
  height: 50px;
  margin-right: 15px;
}

.footer-list a {
  margin: 10px;
  text-decoration: none;
  color: white;
}

.second-headings a {
  text-decoration: none;
  color: red;
}

nav > :nth-child(3) a {
  text-decoration: none;
  color: black;
}

.flex-ul-container ul,
.flex-ul-container-two ul {
  list-style: none;
  display: flex;
  padding-left: 0;
}

.footer-list li {
  list-style: none;
}

.flex-ul-container-two ul li {
  font-size: 0.75em;
}

.flex-container {
  display: flex;
  border-left: 1px solid black;
  padding-left: 10px;
}

.flex-container i {
  margin-block-start: 1em;
  margin-right: 10px;
}

.flex-container button {
  margin-left: 20px;
  background-color: #0cc;
  font-weight: 900;
  color: white;
  cursor: pointer;
  height: 80%;
  border-radius: 5px;
  border: none;
  margin-right: 20px;
}

.flex-container button:hover {
  background-color: #90c;
}

.flex-ul-container-two a:hover {
  color: black;
}

.flex-ul-container > ul > li > a:hover {
  color: white;
}

footer > :nth-child(3) {
  display: flex;
  justify-content: center;
  padding-bottom: 25px;
  background-color: black;
}

.small-background-img > :nth-child(2) {
  background-color: #ffece7;
  padding-left: 10px;
  color: red;
  font-weight: 800;
}

.small-background-img > :nth-child(1) {
  background-image: url("./TikTok-Court-796x417.jpg");
  background-position: center;
  background-position-y: 30px;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  z-index: 1;
  opacity: 0.6;
}

main > :nth-child(1) > :nth-child(1) {
  background: transparent url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/06/Untitled-design-79-796x417.png") no-repeat;
  background-size: auto;
  background-position: center;
  z-index: 2;
  height: 35em;
  margin: 10px 10px;
  box-sizing: border-box;
  flex: 2;
}

main > :nth-child(1) > :nth-child(2) {
  height: 37em;
  margin: 10px 10px;
  box-sizing: border-box;
  flex: 1;
}

.tnw-img {
  background-image: url("./logo.png");
  height: 10rem;
  opacity: 0.4;
  z-index: -1;
  background-repeat: no-repeat;
  background-position: center;
  background-position-x: left;
  background-size: contain;
}

.tnw-red {
  width: 100%;
  height: 70%;
  background: #f42 linear-gradient(to bottom right, #c09, #f42 85%);
  opacity: 0.75;
}

.second-background-img {
  background-image: url("./gradient-img.jpg");
  height: 49%;
  opacity: 1;
  z-index: 2;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.first-section {
  display: flex;
}

.third-background-img {
  background-image: url("./third-background-img.jpg");
  height: 49%;
  opacity: 1;
  z-index: 2;
  background-position: center;
  margin-top: 2%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.tnw-down {
  display: flex;
  opacity: 1;
}

footer p {
  color: white;
  font-size: 0.8em;
  margin-top: 17px;
}

.tnw-down p {
  color: white;
}

.tnw-down i {
  padding-top: 18px;
  margin-left: 10px;
  margin-right: 10px;
}

.tnw-container {
  background: #f42 linear-gradient(to bottom right, #c09, #f42 85%);
  margin-bottom: 0;
  height: 35%;
}

.third-background-img div {
  display: flex;
}

.second-background-img p,
.third-background-img p {
  margin-block-start: 0;
}

.four-grid-container {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(4, 1fr);
  max-width: 70%;
  margin: 0 auto;
  box-sizing: border-box;
  justify-content: center;
}

.four-grid-container h2 {
  grid-column-start: 1;
  grid-column-end: 5;
  color: red;
}

.second-headings {
  display: flex;
  color: red;
  grid-column-start: 1;
  grid-column-end: 5;
  color: red;
}

footer img {
  height: 50px;
  width: 50px;
  margin-right: 15px;
}

.grid-img img {
  width: 100%;
  height: 100%;
}

.non-flex-section3 > h2 {
  padding-left: 27%;
  color: red;
}

.small-background-img h2 {
  color: red;
}

.second-background-img *,
.third-background-img * {
  color: white;
  text-decoration: none;
}



.second-headings h1 {
  margin-right: 15px;
}

.s-image {
  height: 35px;
  width: 35px;
  position: relative;
  top: 75px;
}

.non-flex-section {
  display: block;
}

.spiff-background {
  background-color: red;
}

.venture-background {
  background-color: #ffece7;
}

.non-flex-section .spiff-background,
.non-flex-section .venture-background {
  padding-left: 22%;
  margin-right: 25px;
}

.spiff-background h4 {
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 20px;
  padding-top: 10px;
}

.venture-background p {
  margin-top: 0;
  margin-bottom: 10px;
}

.second-flex-div i {
  margin-block-start: 1em;
  margin-right: 10px;
}

.p-tag {
  border-top: 1px solid pink;
}

.flex {
  display: flex;
}

.flex-div {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(150px, 225px));
  max-width: 1192px;
  margin: 0 auto;
  box-sizing: border-box;
  justify-content: center;
}

.flex-div h3 {
  margin-right: 10px;
}



.second-flex-div {
  display: flex;
  padding-left: 4%;
}

.flex-div-h3 {
  border-right: 1px solid red;
  padding-right: 7px;
}

.small-background-img {
  background-position-y: 50px;
}

.small-background-img > :nth-child(1) * {
  z-index: 2;
  opacity: 1;
}

.small-background-img p {
  margin-top: 25px;
}

.flex-div2 {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  max-width: 70%;
  margin: 0 auto;
  box-sizing: border-box;
  justify-content: center;
}

.non-flex-section2 {
  display: block;
}

.small-background-img ul {
  padding-left: 14px;
}

.small-background-img ul li {
  border-bottom: 1px solid gray;
  color: #aaa;
}

.small-background-img ul li:hover {
  color: black;
  cursor: pointer;
}

.last-grid-img img {
  width: 100%;
  height: 100%;
}

.non-flex-section3 {
  display: block;
}

footer {
  background-color: rgb(29, 29, 29);
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-icons {
  display: block;
  color: white;
  height: 60px;
  padding-top: 30px;
  text-align: center;
}

.footer-icons i {
  box-sizing: border-box;
  background-color: grey;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding-top: 10px;
  margin-right: 15px;
}

.fas {
  padding-top: 15px;
  margin-left: 10px;
  margin-right: 10px;
}

.footer-list ul {
  display: flex;
  justify-content: center;
  color: white;
  margin-left: 0;
  padding-left: 0;
  width: 100%;
  font-size: 0.7em;
}

.omited-div {
  display: flex;
}

.omitted-p {
  text-decoration: line-through;
  margin-right: 10px;
  color: #aaa;
  font-size: 12px;
  margin-bottom: 0;
  margin-top: 17px;
}

.hamburger {
  display: none;
  position: absolute;
  right: 10px;
  top: 5px;
  color: red;
}

.search-button {
  position: absolute;
  top: 10px;
  right: 70px;
  display: none;
}

.last-grid-img h2 {
  color: black;
}

@media screen and (max-width: 767px) {
  nav {
    background-image: url(./logo.png);
    background-size: 20% 70px;
    background-position: left;
    background-repeat: no-repeat;
    background-position-y: top;
  }

  nav .flex-ul-container-two,
  nav .flex-ul-container,
  nav > :nth-child(1) {
    visibility: hidden;
  }

  nav :nth-child(3) {
    height: 35px;
  }

  nav :nth-child(2) {
    position: absolute;
    display: none;
  }

  main > :nth-child(1) > :nth-child(1) {
    height: 350px;
  }

  .hamburger {
    display: block;
  }

  .grid-img,
  .last-grid-img {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
  }

  .grid-img img,
  .last-grid-img img {
    width: 75px;
    height: 80px;
  }

  .first-section {
    margin-top: 100px;
    display: block;
  }

  .first-section > article {
    min-width: 300px;
  }

  .flex-div2 {
    width: 100%;
    max-width: 100%;
    margin: 0;
    display: block;
  }

  .small-background-img {
    width: 100%;
  }

  .second-headings {
    display: block;
  }

  .fas {
    padding-top: 0;
  }

  h3,
  p {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-left: 5px;
  }

  .grid-img {
    margin-bottom: 10px;
  }

  .non-flex-section .spiff-background,
  .non-flex-section .venture-background {
    margin-right: 0;
  }

  .last-grid-img h2 {
    font-size: 1.1em;
    margin-right: 10px;
    margin-left: 10px;
  }

  .tnw-explanations h1 {
    font-size: 1em;
  }

  .tnw-img {
    display: none;
  }

  .second-headings h1 {
    margin-bottom: 10px;
    font-size: 1.1em;
  }

  .flex-div * {
    font-size: 1em;
  }

  .search-button {
    display: block;
  }

  .flex-div {
    flex-direction: column;
  }

  .flex-div2 .small-background-img {
    width: 100%;
    flex: unset;
    margin-right: 0;
  }

  .non-flex-section2 {
    padding-right: 0;
  }

  .non-flex-section3 h2 {
    padding-left: 0;
  }

  .four-grid-container {
    display: block;
    margin-left: 0;
    margin-right: 0;
    max-width: 100%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1025px) {
  nav {
    background-image: url(./logo.png);
    background-size: 14% 100px;
    background-position: left;
    background-repeat: no-repeat;
    background-position-y: top;
  }

  nav > :nth-child(1),
  nav > :nth-child(2) {
    margin-left: 14%;
  }

  .flex-div2 {
    max-width: 100%;
    margin: 0;
  }

  .flex-div2 .small-background-img {
    flex: unset;
  }

  .four-grid-container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    box-sizing: border-box;
    max-width: 100%;
  }

  .four-grid-container h2 {
    grid-column-start: 1;
    grid-column-end: 4;
  }

  .grid-img {
    width: 100%;
    height: 100%;
  }

  .four-grid-container .grid-img img {
    height: 60%;
  }

  .flex-div > :nth-child(4) {
    display: none;
  }

  .tnw-img {
    display: none;
  }

  ul {
    font-size: 0.6em;
  }

  ul li a {
    margin-left: 5px;
  }

  .flex-container p,
  .flex-container a {
    font-size: 0.5em;
  }

  .second-headings {
    grid-column-end: 4;
  }

  #none {
    display: none;
  }
}


